.main-container {
    -fx-background-color: #2c3e50;
    -fx-padding: 20 30 20 30; /* Отступы от краев окна */
}

/* TitledPane */
.titled-pane {
    -fx-text-fill: #ecf0f1;
    -fx-font-weight: bold;
}
.titled-pane > .title {
    -fx-background-color: #34495e;
    -fx-background-radius: 5 5 0 0;
    -fx-border-color: #7f8c8d;
    -fx-border-width: 1 1 0 1;
    -fx-border-radius: 5 5 0 0;
}
.titled-pane > .content {
    -fx-background-color: #566573;
    -fx-background-radius: 0 0 5 5;
    -fx-border-color: #37414a;
    -fx-border-radius: 0 0 5 5;
    -fx-border-width: 0 1 1 1;
}

/* BUTTONS */
.action-btn {
    -fx-background-color: #34495e;
    -fx-border-color: #7f8c8d;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 8 15 8 15;
    -fx-text-fill: #ecf0f1;
    -fx-cursor: hand;
    -fx-font-size: 13px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 3, 0, 0, 2);
}
.action-btn:hover {
    -fx-background-color: #3d566e;
    -fx-border-color: #95a5a6;
}

/* BACK BUTTON */
.back-btn {
    -fx-background-color: #ff9900;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.back-btn:hover {
    -fx-background-color: #cc7a00;
}

/* Лейбл в подвале */
.footer-label {
    -fx-text-fill: #bdc3c7;
    -fx-font-size: 12px;
    -fx-font-style: italic;
}

.carousel-view {
    -fx-border-color: transparent;

}